$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)

$dark-grey: #1e1e1e
$grey: #545454
$bright-grey: #b1b1b1
$black: #000

$font-base: 16px
$font-xs: $font-base / 4 * 3
$font-lg: $font-base / 4 * 5

$m-base: 20px
$m-sm: $m-base / 2
$m-xs: $m-base / 4
$m-lg: $m-base / 2 * 3

$danger: red
$icon-class: 'icon-'
$icon-size: 10px
$menu-icon-size: 20px
$font-weight-bold: 700
