@import '../application' 
    
.content
    margin-top: $m-lg

    &__description
        font-size: $font-xs
        font-smooth: antialiased
        max-width: 50%

    &__portfolio
        display: flex
        flex-wrap: wrap
        justify-content: center
