@import 'application' 
@import 'assets/stylesheets/shared/icons'

*
  box-sizing: border-box

a
  text-decoration: none
    
  &:hover
    color: blue
    cursor: pointer    

body
  margin: $m-lg 10%
