@import 'assets/stylesheets/shared/icons'

@font-face 
  font-family: 'icomoon'
  src: local('icomoon'), url(./fonts/icomoon.woff?cuwrv2) format('woff'),
  url(./fonts/icomoon.eot?cuwrv2),
  url(./fonts/icomoon.eot?cuwrv2#iefix) format('embedded-opentype'),
  url(./fonts/icomoon.ttf?cuwrv2) format('truetype'),
  url(./fonts/icomoon.svg?cuwrv2#icomoon) format('svg')
  font-weight: normal
  font-style: normal  
  *
  box-sizing: border-box

a
  text-decoration: none
    
  &:hover
    color: $blue
    cursor: pointer    

body
  margin: $m-lg 10%
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
